#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (max-width: 768px) {
  #root {
    padding: 1rem;
  }
  .logo {
    height: 4em;
    padding: 1em;
  }
}

.card {
  padding: 2em;
  background-color: #f8fc9a;
  width:78%;
  margin:4px;
  display: flex;
}
.img_card{
  border-radius: 40%;
  width:60px;
  height: 40%;
  display:flex;
  box-shadow: 4px,10px;
  transition: 0.3s;
  left: 0px;
}

.read-the-docs {
  color: #888;
}
.sidebar1 {
  width: 70px;
  height: 100%;
  position: fixed;
  top:0;
  left:0;
  background-color: #081B33;
}
.icons{
  padding-bottom: 30px;
  font-size:25px;
  color:white;
}
.Search{
  width:200px;
  border: 1px black solid;
  border-radius: 8px;
  align-items: center;
  margin-left: 55px;
}
.topics{
  width: 330px;
  height: 100%;
  position:fixed ;
  top: 0px;
  left: 70px;
  background-color: #767D92;
}
.Nav{
width: 100%;
height: 60px;
position: fixed;
top: 0px;
left:400px;
background-color:#081B33;
color:white;
align-items:center;
}
#Ellipsis{
float: left;
font-size: 45px;
list-style-type: none;
padding: 12px;
}
.input{
  border: none;
  background-color: #767D92;
  color: white;
}

.Chat{
  background-color: #081B33;
  position: fixed;
  width: 100%;
  height:40px;
  left: 400px;
  padding: 10px;
  padding-bottom: 20px;
  bottom: 0;
  display: flex;
}
#Chat_text{
width:900px;
height: 50px;
font-size: 25px;
border-radius:8px;
margin:10px;
}
.avatar{
  border-radius:40%;
  padding: 10px;
}
.Plane{
  color:black;
  font-size: 30px;
}
.plus{
color:white;
font-size: 30px;
float:left;
padding:5px;
}
.username{
  color:white;
}
.button{
  background-color:#081B33;
}
.pool{
  display:center;
  color:white;
  align-items: center;
}
.background{
  color: #021553;
  background-color: rgba(136, 136, 136, 0.239);
  width: 1600px;
  height: 900px;
}