.modal-overlay {
    position: absolute;
    bottom: 70px;
    width: 200px;
    left: 20;
    height: 400px;
    background: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    border-radius: 20px;

}

.modal-content {
    padding: 50px;
    border-radius: 8px;
    width: 100px;
    text-align: center;
    font-weight:bolder;
    font-size: 20px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 50px;
    cursor: pointer;
}